
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model IEnumerable<WebsiteCCGR.Models.LOAIHANG>
<div class="sub-menu" style="background-color:ActiveBorder; width:110px">
        @foreach (var item in Model)
        {
            <ul>
                <li>
                    <a href="@Url.Action("SpTheoloai","CCGR", new { id=item.MALOAI })">
                        @item.TENLOAI
                    </a>
                </li>
            </ul>
        }
</div>


