@using WebsiteCCGR.Models
@using PagedList.Mvc
@model PagedList.PagedList<WebsiteCCGR.Models.SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Container (Product Section) -->
<div id="product" class="container-fluid text-center bg-grey">
    <h2>NỔI BẬT</h2><br>
    <h4>Thắng Bá định giá mọi loại cá!</h4>
    <div class="row text-center slideanim">
        @foreach (var sanpham in Model)
        {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/HinhAnhSanPham/@sanpham.ANH"  width="200px" height="300px">

            </div>
            <div>
                <h3>
                    @sanpham.TENSP
                </h3>
            </div>
            <div class="menu-item-price">
                <h3>@sanpham.GIABAN VND</h3>
            </div>
        </div>
        }

    </div><br>
</div>
Trang @(Model.PageCount <Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="row">
    @Html.PagedListPager(Model, page => Url.Action("/", new { page = page }))
</div>



